<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>O-Store</div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/products"> Our Services</a></li>
            <li><a href="/add-products"> Our Services</a></li>
        </nav>
    </header>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Repellendus temporibus tenetur sapiente deleniti. Repellat nam, dolor facere a consequatur corporis distinctio 
        hic, dolorem quidem laudantium architecto aliquid, dicta eveniet. Odit.</p>
</body>
</html>