<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        .product{
            width: 25%;
            margin-left: 2%;
        }
        .product img{
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>O-Store</div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/products"> Products</a></li>
            <li><a href="/add-products"> Add Product</a></li>
        </nav>
    </header>
    <%   
    if(product.length >0 ){
      
        product.map((value, index)=>{
      %>
    <div class="product">
    <div><%= value.title %></div>
    <div>
        <img src="<%= value.image %>"  alt="phone">
    </div>
    <p>
        2334.556
    </p>
</div>
  
  <% })  } %>

</body>
</html>