<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>O-Store</div>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/services"> Our Services</a></li>
        </nav>
    </header>
    <h2>Our Services Page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
         ex incidunt excepturi, doloremque placeat recusandae debitis at assumenda, sit libero,
         sed cumque vel. Cumque, voluptates quaerat ducimus dolorem culpa officiis.
        </p>
</body>
</html>